.error{color:red;font-size:larger;font-weight:bold;}.table{border-collapse:collapse;}.table td,.table th{border-width:1px;border-style:solid;}.table tr:hover td{background-color:#eef;}blockquote{font-family:Monospace;white-space:pre-wrap;}.sub{font-weight:bold;}
